<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<!--<allow roles="Profesor"/>
			<deny roles="Alumno"/>-->
			<deny users="? , Alumno" />
			<allow users="Profesor , ProfesorV"/>
		</authorization>
	</system.web>
	<location path="Exportar.aspx">
		<system.web>
			<authorization>
				<allow users="ProfesorV" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ImportarXMLDocument.aspx">
		<system.web>
			<authorization>
				<allow users="ProfesorV" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="EstadisticasAsignatura.aspx">
		<system.web>
			<authorization>
				<allow users="ProfesorV" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
