

.loginBox {
    background-color: white;
    position: absolute;
    margin: 40px;
    margin-top: 200px;
    padding-left: 15px;
    padding-right: 10px;
    width: 330px;
    height: 520px;
    color: black;
    z-index: 8;
}


.infoDIV {
    background-color: orange;
    opacity: 30%;
    height: 40px;
    padding: 5px;
}

.informationDiv p {
    position: absolute;
    margin-left: 10px;
}


table {
    padding: 10px;
}

.boxesT {
    width: 290px;
    height: 30px;
}

.boxesNAA {
    width: 100px;
    height: 30px;
}

#RegisterButton {
    background-color: orange;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
}

.bottomRows {
    padding: 15px;
}

.bottomRowsL {
    padding-left: 30px;
    padding-right: 20px;
}

